<section style="margin-top: -70px">
  <div class="row" *ngIf="psychologue">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px; height: 150px; border-radius: 100%"
            [src]="
              psychologue.photo
                ? 'http://localhost:3000/uploads/' + psychologue.photo
                : '../../../../../assets/user/img/profile.jpg'"
            class="img-fluid"
            alt=""
          />
          <h5 class="my-3">{{ psychologue.nom }}</h5>

          <div class="d-flex justify-content-center mb-2"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ psychologue.nom }} {{ psychologue.prenom }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ psychologue.email }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ psychologue.telephone }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Description</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ psychologue.description }}</p>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>
