
<div style="overflow: hidden;">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let psy of psychologues">
            <td>{{ psy._id }}</td>
            <td>{{ psy.nom }}</td>
            <td>{{ psy.prenom }}</td>
            <td>{{ psy.email }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="validatePsy(psy)"
              >
                Valider
              </button>
            </td>
          </tr>
          <tr>

          </tr>
        </tbody>
      </table>

</div>
