<div *ngIf="rendezvousList">
  <div *ngFor="let rendezvous of filteredRendezvousListConfirme">
    <div
      *ngIf="
        filteredRendezvousListConfirme.length > 0 &&
        rendezvous.status == 'confirme'
      "
    >
      <ul class="no-bullets">
        <li>
          <button
            style="margin-left: 70px; margin-top: 30px"
            class="list-group-item"
          >
            <a routerLink="">
              <img style="width: 50px; height: 50px; border-radius: 100%" [src]="'http://localhost:3000/uploads/' + rendezvous.etudiant.photo"/>
            </a>
            &nbsp;&nbsp;
            <p style="font-weight: bolder">
              {{ rendezvous.etudiant.nom }} {{ rendezvous.etudiant.prenom }}
            </p>
            &nbsp;
            <div
              *ngFor="let seance of rendezvous.disponibilite.seance"
              style="font-size: 15px"
            >
              {{ seance.debut | date : "HH:mm" }} to
              {{ seance.fin | date : "HH:mm" }}<br />
            </div>
            &nbsp;
            <div *ngIf="rendezvous.type=='face to face'" style="background-color: yellow;font-size: 16px;margin-left: 13px;">{{ rendezvous.type }} </div>
            <button class="btn btn-danger" *ngIf="rendezvous.type=='online'" (click)="createRoom()">{{ rendezvous.type }} &nbsp;<i class="bi bi-camera-video-fill"></i></button>
            <hr />

          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div
  *ngIf="filteredRendezvousListConfirme.length === 0"
  style="
    background-color: #eeee;
    width: 200px;
    height: 50px;
    margin-left: 200px;
    margin-top: 200px;
    text-align: center;
    padding: 8px;
  "
>
  <p>There's no confirmed demand!</p>
</div>
