
    <div style="overflow: hidden;">
      <!-- <div class="col-md-12" > -->
        <!-- <div class="mat-elevation-z8"> -->
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td>{{ student._id }}</td>
                <td>{{ student.nom }}</td>
                <td>{{ student.prenom }}</td>
                <td>{{ student.email }}</td>
                <td style="justify-content: center ;display: flex;">
                  <button
                    class="btn btn-primary"
                    (click)="validateStudent(student)"
                  >
                    Valider
                  </button>
                  <!-- <button class="btn btn-danger" (click)="deleteStudent(student)">Supprimer</button> -->
                </td>
              </tr>
              <tr>

              </tr>
            </tbody>
          </table>
        <!-- </div> -->
      <!-- </div> -->
    </div>
