<!-- Section: Design Block -->
<!-- style="height: 713px !important;"  -->
<section class="gradient-custom overflow-hidden"  >


  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" >
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          <img src="/assets/user/img/Psychologist.svg">

        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="mb-4" style="text-align: center;">
                  <h4 style="font-weight: bolder;color: #44006b;font-size: larger;">Login</h4>
                </div>

              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  formControlName="email"
                  placeholder="Email"
                  class="form-control"
                  [class.is-invalid]="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
                  required
                />
                <div
                  *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="form.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="form.get('email')?.errors?.['email']">Email is not valid.</div>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  formControlName="motDePasse"
                  placeholder="Password"
                  class="form-control"
                  [class.is-invalid]="form.get('motDePasse')?.invalid && (form.get('motDePasse')?.dirty || form.get('motDePasse')?.touched)"
                  required
                />
                <div
                  *ngIf="form.get('motDePasse')?.invalid && (form.get('motDePasse')?.dirty || form.get('motDePasse')?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="form.get('motDePasse')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="form.get('motDePasse')?.errors?.['minlength']">Password must be at least 8 characters.</div>
                </div>
              </div>



              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
             Login
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

