<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> <h2 style="text-align: center;">Questionnaire Details</h2></div>
        <div class="card-body">
          <h3>Title : {{ questionnaire.title }}</h3>
          <p>Desscription : {{ questionnaire.description }}</p>
          <hr>
          <div *ngFor="let question of questionnaire.questions; let i=index">
            <h4>Question {{i+1}}. :{{ question.text }}</h4>
            <div *ngIf="question.type == 'shortText'">
              <p>{{ question.answer }}</p>
            </div>
            <div *ngIf="question.type == 'paragraph'">
              <p>Answer :{{ question.answer }}</p>
            </div>
            <div *ngIf="question.type == 'checkbox'">
              <ul>
                <li *ngFor="let option of question.options">
                  <input type="checkbox" [checked]="question.answer && question.answer.includes(option)" disabled>
                  {{ option }}
                </li>
              </ul>
            </div>
            <div *ngIf="question.type === 'multipleChoice'">
              <ul>
                <li *ngFor="let option of question.options">
                  <input type="radio" [checked]="question.answer === option" disabled>
                  {{ option }}
                </li>
              </ul>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
