<section id="hero" class="d-flex align-items-center  gradient-custom" style="height: 100vh !important;">
<div class="container " >
  <div class="row">
    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
      <h1 style="text-align: center;">Student Mind<i class="bi bi-bank2"></i>Space </h1>
      <h2 style="text-align: center;">Online Psychological Support Platform for Students of ISET Bizerte, just a Click Away!</h2><br>
      <div class="d-flex justify-content-center">
        <button  (click)="onGetStartedClick()" class="btn btn-primary">Get started</button>&nbsp;&nbsp;
        <button  (click)="onGetLoginClick()" class="btn btn-primary">Login</button>
      </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
      <img src="../assets/user/img/home1.png" class="img-fluid animated" alt="">
    </div>
  </div>
</div>
</section>


<!-- ======= About Us Section ======= -->
<!-- height: 92vh !important; -->
<section id="about" class="about" style="background-color: #e1dede;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Discover a revolutionary platform designed specifically for students of ISET Bizerte, providing personalized online psychological support.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Student Mindspace offers a team of caring experts ready to guide and accompany you through the challenges of student life. </li>
          <li><i class="ri-check-double-line"></i> Get advice, stress management techniques, and attentive listening, all from the comfort of your own home. </li>
          <li><i class="ri-check-double-line"></i> Take care of your mental well-being and unleash your full potential!</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="ri-check-double-line"></i>Access expert psychological guidance, tailored to your unique needs and challenges. </li>
          <li><i class="ri-check-double-line"></i>Gain the support you deserve, enhance your well-being, and unlock your full potential, all from the comfort of your own space. </li>
          <li><i class="ri-check-double-line"></i>Join a community of empowered students and embark on a journey of pe rsonal growth and resilience. </li>
          <li><i class="ri-check-double-line"></i>Take charge of your mental health today with Student Mindspace. </li>
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- End About Us Section -->

