<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="hero" class="d-flex align-items-center  gradient-custom" style="height: 100vh !important;">

<div class="container">
    <div class="row">


        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block">
                    <div class="user-image">
                        <img src="../assets/user/img/student1.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Student</h6>
                    <hr>
                    <p>
                        Log in to access online psychological support resources and services.
                        </p>
                  <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><button class="btn btn-primary" routerLink="/auth/loginuser">Login</button></div>
                        <div class="col-auto"><button class="btn btn-primary" routerLink="/auth/signup">Sign Up</button></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card user-card">
              <div class="card-header">
                  <!-- <h5>Profile</h5> -->
              </div>
              <div class="card-block">
                  <div class="user-image">
                      <img src="../assets/user/img/admin.jpg" class="img-radius" alt="User-Profile-Image">
                  </div>
                  <h6 class="f-w-600 m-t-25 m-b-10">Admin</h6>
                  <hr>
                  <p>Access and manage the platform's administrative functions.</p>
                  <hr>
                  <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><button class="btn btn-primary" routerLink="/auth/loginadmin">Login</button></div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block">
                    <div class="user-image">
                        <img src="../assets/user/img/psy.jpg" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Psychologist</h6>
                    <hr>
                    <p>Log in to provide professional psychological support to students.</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><button class="btn btn-primary" routerLink="/auth/loginPsy">Login</button></div>
                        <div class="col-auto"><button class="btn btn-primary" routerLink="/auth/signupPsy">Sign Up</button></div>

                    </div>
                </div>
            </div>
        </div>
	</div>
  </div>
</section>
