<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="hero" class="d-flex align-items-center  gradient-custom" style="height: 100vh !important;">

<div class="container">
    <div class="row">


        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Student</h6>
                    <hr>


                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a routerLink="/auth/loginuser">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card user-card">
              <div class="card-header">
                  <!-- <h5>Profile</h5> -->
              </div>
              <div class="card-block">
                  <div class="user-image">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                  </div>
                  <h6 class="f-w-600 m-t-25 m-b-10">Admin</h6>
                  <hr>

                  <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <hr>
                  <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><a routerLink="/loginadmin">Login</a></div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Psychologist</h6>
                    <hr>


                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a routerLink="/auth/loginPsy">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
  </div>
</section>
