<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom fixed-top">
  <!-- Container wrapper -->
  <a class="navbar-brand" href="#"><img style="width:190px;height: 50px;"  src="/assets/user/img/22.png"></a>
  <div class="container-fluid">
    <!-- Navbar brand -->

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="">
            <div></div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/articlest">
            <div>
              <span class="badge rounded-pill badge-notification bg-dark">{{
                articles.length
              }}</span>
            </div>
            Articles
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/psychologues">
            <div></div>
            Psychologists
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/calendar" *ngIf="verifypsy">
            <div></div>
            Calendar
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="/psy/questionnaire" *ngIf="verifypsy">
            <div></div>
            Questionnaires
          </a>
          <a class="nav-link" routerLink="/quiz" *ngIf="verifyuser">
            <div></div>
            Questionnaires
          </a>
        </li>

      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <ul
        class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0"
        *ngIf="verifypsy ||verifyuser"
        style="margin-right: 20px;"
      >

        <li class="nav-item dropdown text-center mx-2 mx-lg-1"  style="margin-right: 10px;">
          <a

            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <div>
              <span class="badge rounded-pill badge-notification bg-dark"
                ></span
              >
            </div>
            Options
          </a>

          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li *ngIf="verifypsy ||verifyuser">
              <a
                class="dropdown-item"
                style="color: black !important"
                *ngIf="verifyuser"
                routerLink="/profile"
                >profile</a
              >
            </li>
            <li >
              <a
                class="dropdown-item"
                style="color: black !important"
                *ngIf="verifypsy"
                routerLink="/profilepsy"
              >
                profile

              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                style="color: black !important"
                (click)="logoutUser()"
                *ngIf="verifyuser"
                ><strong style="color: black;">logout</strong></a
                >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="color: black !important"
                (click)="logoutPsy()"
                *ngIf="verifypsy"
                ><strong style="color: black;">logout</strong></a
              >
            </li>

          </ul>
        </li>
        <!-- <li class="nav-item nav-profile">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            routerLink="/profile"
            *ngIf="verifyuser"
          >
            profileuser
          </a>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            *ngIf="verifypsy"
            routerLink="/profilepsy"
          >
            profilepsy
          </a>
        </li> -->
      </ul>
      <!-- Right links -->
      <!-- <div style="margin-left: 73px;" class="search-box">
        <input type="text" class="search-txt" name="" placeholder="Search" />
        <a href="#" class="search-btn">
          <i class="bi bi-search"></i>
        </a>
      </div> -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>

<!-- ======= Footer ======= -->
<footer id="footer" class="gradient-custom">
  <div
    class="container footer-bottom clearfix gradient-custom"
    style="width: 1800px !important"
  >
    <div class="copyright">
      &copy; Copyright <strong><span>Iset Bizerte</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      made with <i class="bi bi-heart-fill"></i
      ><strong><span> by Salma Lamouchi & Hajer Noomene</span></strong>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
