<div style="width:50%;  margin: 0 auto;margin-top: 90px;">
  <br> <div class="section-title">
    <h2 style="text-align: center;">Edit Your Profile Data</h2>
  </div>
<div *ngIf="student">
  <div class="row">
    <div class="col-md-3">
      <img class="img-thumbnail" [src]="'http://localhost:3000/uploads/' +student.photo" alt="Profile Picture">
      <div class="mt-3">
        <div class="form-group">
        <input class="form-control" type="file" id="photo" name="photo" (change)="onFileSelected($event)">
        <span id="file-name"></span>
      </div>
      </div>
    </div>
    <div class="col-md-9">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nom">Last Name</label>
          <input type="text" class="form-control" formControlName="nom" id="nom" required>
        </div>
        <div class="form-group">
          <label for="prenom">First Name</label>
          <input type="text" class="form-control" formControlName="prenom" id="prenom" required>
        </div>
        <div class="form-group">
          <label for="telephone">Phone Number</label>
          <input type="text" class="form-control" formControlName="telephone" id="telephone">
        </div>
        <div class="form-group">
          <label for="adresse">Address</label>
          <input type="text" class="form-control" formControlName="adresse" id="adresse">
        </div>
        <div class="form-group">
          <label for="niveau">Level</label>
          <select class="form-control" formControlName="niveau" id="niveau">
            <option value="">--Select--</option>
            <option value="1st year">1st year</option>
            <option value="2nd year">2nd year</option>
            <option value="3rd year">3rd year</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="editProfile()" [disabled]="profileForm.invalid">Save Changes</button>
          <button type="button" class="btn btn-secondary ml-2" (click)="getProfile()">Cancel</button>
        </div>
      </form>
      <hr>
      <button type="button" class="btn btn-secondary" (click)="isChangingPassword = true">Change Password</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="encryptData()">AnonymizeData</button>
    </div>
  </div>
</div>
<div *ngIf="isChangingPassword">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="ancienMotDePasse">Old Password</label>
        <input type="password" class="form-control" id="ancienMotDePasse" formControlName="ancienMotDePasse">
      </div>
      <div class="form-group">
        <label for="nouveauMotDePasse">New Password</label>
        <input type="password" class="form-control" id="nouveauMotDePasse" formControlName="nouveauMotDePasse">
      </div>
      <button class="btn btn-primary" (click)="updatePassword()">Save</button>
      <button class="btn btn-secondary" (click)="isChangingPassword=false">Cancel</button>
    </form>
  </div>
  <br><br>
</div>
