<div class="container" style="margin-top: 90px!important;" >
    <br> <br>
    <h2 style="text-align: center;">Questionnaires responses</h2>
    <br> <br>
    <table class="table" style="width: 70%; margin: 0 auto;">
      <thead>
        <tr style="background-color: #51528f;">
          <th><h5 style="color: #ffffff;">#</h5></th>
          <th><h5 style="color: #ffffff;">Name</h5></th>
          <th><h5 style="color: #ffffff;">Email</h5></th>
          <th><h5  style="text-align: center;color: #ffffff;">View Answers</h5></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{i+1}}</td>
          <td>{{ student.nom }} {{ student.prenom}}</td>
          <td>{{ student.email }}</td>
          <td style="text-align: center;" >
            <button class="btn btn-primary" [routerLink]="['/psy/questionnaire', questionnaireId, 'answers', student._id]"><i class="bi bi-chat-square-text"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
<br><br>