<div class="container mt-3">
  <br>
  <h2 style="text-align: center;">Edit Questionnaire </h2>
  <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title">
      <div *ngIf="questionnaireForm.get('title')?.invalid && (questionnaireForm.get('title')?.dirty || questionnaireForm.get('title')?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="questionnaireForm.get('title')?.errors?.['required']">
          Title is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description" id="description"></textarea>
      <div *ngIf="questionnaireForm.get('description')?.invalid && (questionnaireForm.get('description')?.dirty || questionnaireForm.get('description')?.touched)" class="alert alert-danger mt-1">
        <div *ngIf="questionnaireForm.get('description')?.errors?.['required']">
          Description is required
        </div>
      </div>
    </div>
    <hr>
    <h4>Questions</h4>
    <div class="mt-3" formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
        <div class="form-group">
          <label for="text">Question {{i + 1}}</label>
          <input type="text" class="form-control" formControlName="text" id="text">
          <div *ngIf="question.get('text')?.invalid && (question.get('text')?.dirty || question.get('text')?.touched)" class="alert alert-danger mt-1">
            Question is required
          </div>
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" formControlName="type" id="type">
            <option value="checkbox">Checkboxes</option>
            <option value="multipleChoice">Multiple Choice</option>
            <option value="shortText">Short Text</option>
            <option value="paragraph">Paragraph</option>
          </select>
        </div>
        <div *ngIf="question.get('type')?.value === 'checkbox' || question.get('type')?.value === 'multipleChoice'">
          <div class="mt-3" formArrayName="options">
            <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j">
              <div class="form-group">
                <label for="optionText">Option {{j + 1}}</label>
                <input type="text" class="form-control" formControlName="text" id="optionText">
                <div *ngIf="question.get('options')?.get(j.toString())?.get('text')?.invalid && (question.get('options')?.get(j.toString())?.get('text')?.dirty || question.get('options')?.get(j.toString())?.get('text')?.touched)" class="alert alert-danger mt-1">
                  Option is required
                </div>
                <div *ngIf="(question.get('type')?.value === 'Checkbox' || question.get('type')?.value === 'Multiple Choice') && getOptions(i).length < 2" class="alert alert-danger mt-1">
                  At least 2 options are required.
                </div>
              </div>
              <button type="button" class="btn btn-danger" (click)="deleteOption(i, j)">Delete Option {{j + 1}}</button>
              <hr>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="addOption(i)">Add Option</button>
        </div>
        <br>
        <button type="button" class="btn btn-danger" (click)="deleteQuestion(i)">Delete Question {{i + 1}}</button>
        <hr>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addQuestion()">Add Question</button>

    <button style="margin-left: 10px;" type="submit" class="btn btn-primary" [disabled]="questionnaireForm.invalid">Submit</button>
  </form>
  <br> <br>
</div>    
