<div class="container" style="width:900px;height: 350px;" >
  <h5 style="text-align: center;color: blueviolet;margin-top: 7px;margin-bottom: 7px;">Demande de consultation</h5>
  <form (ngSubmit)="onSubmit()" style="padding: 5px;">
    <div class="form-group">
      <label for="type">Type:</label>
      <select class="form-control" id="type" [(ngModel)]="type" name="type">
        <option value="face to face">Face to face</option>
        <option value="online">Online</option>
      </select>
    </div>
    <div class="form-group">
      <label for="commentaire">Comment:</label>
      <textarea class="form-control" id="commentaire" [(ngModel)]="commentaire" name="commentaire"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
