
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.demo-inline-calendar-card {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.card {
  width: 100%;
}

.card-body {
  display: flex;
  justify-content: right;
  width: calc(100% - 24px);
}

.custom-calendar {
  width: 500px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.disponibilite-btn {
  position: relative;
}

.disponibilite-btn:hover .disponibilite-btn-overlay {
  display: flex;
}

.disponibilite-btn-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.disponibilite-btn-overlay button {
  margin: 0 10px;
}

