       <body style="width: 80%; margin: 0 auto;">
          <header>
            <h3 style="text-align: center;">{{article.title}}</h3>
          </header>
          <article>
            <div style="text-align: center;" [routerLink]="['/admin/article/edit', article._id]" class="img-container">
              <img  [src]="'http://localhost:3000/uploads/' +article.image" alt="Description de l'image">
              <div class="overlay">
                <p> <i class="bi bi-pencil-square"></i></p>
              </div>
            </div>
            <br>
            <div style="clear:both;"></div>
            <p class="bold-text big-text" style="font-weight: 200;color: black;">{{article.content}}</p>
          </article>
        </body>