
.btn {
  position: relative;
  padding: 12px 30px;
  margin: .3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
}

.btn.btn-just-icon {
  font-size: 20px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.btn.btn-just-icon fa{
  margin-top: 0;
  position: absolute;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
}
.btn.btn-link{
  background-color: transparent;
  color: #999;
}

/* dropdown */




.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 11rem !important;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}

.dropdown-menu.show{
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
  background-color: #9c27b0;
  color: #FFF;
}
.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.dropdown-toggle:after {
  will-change: transform;
  transition: transform .15s linear;
}


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  font-size: .8125rem;
  border-radius: .125rem;
  margin: 0 .3125rem;
  transition: all .15s linear;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  min-height: 1rem !important;
  overflow: hidden;
  line-height: 1.428571;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
  padding: .75rem 1.25rem .75rem .75rem;
}

.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
  vertical-align: middle;
  font-size: 24px;
  position: relative;
  margin-top: -4px;
  top: 1px;
  margin-right: 12px;
  opacity: .5;
}

/* footer */

footer{
  margin-top: 10px;
  color: #555;
  padding: 25px;
  font-weight: 300;

}
.footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
footer p a{
  color: #555;
  font-weight: 400;
}

footer p a:hover {
  color: #9f26aa;
  text-decoration: none;
} */
/*  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4b49ac ;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.img-container {
  position: relative;
  max-width: 50%;
  max-height: 50%;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.text-container {
  width: calc(100% - 320px);
  margin: 20px auto;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.big-text {
  font-size: 17px; /* Adjust the font size as needed */
}
p {
  line-height: 1.5;

}
