<div  style="margin-top: -50px;">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span style="text-align: center;">Liste des psy</span>
    <span class="example-spacer"></span>
    <button
      [routerLink]="['/admin/users/add-psy']"
      class="btn btn-primary  example-icon ml-auto"
      style="background-color: #ffffffdd; color:blueviolet;font-weight: 700px;"
    >
      Add
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>share</mat-icon> -->
    </button>
  </mat-toolbar>
  <!-- <h2>Liste des Psy</h2> -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let psy of Psychologues">
            <td>{{ psy._id }}</td>
            <td>{{ psy.nom }}</td>
            <td>{{ psy.prenom }}</td>
            <td>{{ psy.email }}</td>
            <td>
              <a [routerLink]="['/admin/users/detail-psy', psy._id]" class="btn btn-primary mr-1">Détails</a>
              <a [routerLink]="['/admin/users/edit', psy._id]" class="btn btn-secondary">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
