<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
     
        <h2 class="text-center mb-4">Changer le mot de passe</h2>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email :</label>
    <input type="email" id="email" class="form-control" formControlName="email" required>
      <div *ngIf="passwordForm.get('email')?.hasError('required')">Email est requis.</div>
      <div *ngIf="passwordForm.get('email')?.hasError('email')">Email invalide.</div>
   
  </div>
  <div class="form-group">
    <label for="password">Mot de passe actuel :</label>
    <input type="password" id="password" class="form-control" formControlName="password" required>
    <div *ngIf="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)">
      <div *ngIf="passwordForm.get('password')?.hasError('required')">Mot de passe actuel est requis.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">Nouveau mot de passe :</label>
    <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
    <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)">
      <div *ngIf="passwordForm.get('newPassword')?.hasError('required')">Nouveau mot de passe est requis.</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Changer le mot de passe</button>
  </div>
</form>
      </div>
        
      </div>
    </div>
