<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
     
        <div class="container">
          <h1>Changer le mot de passe</h1>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Adresse e-mail:</label>
              <input type="email" formControlName="email" class="form-control" required>
              <div *ngIf="passwordForm.get('email')?.invalid && (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)" class="alert alert-danger">
                <div *ngIf="passwordForm.get('email')?.errors?.['required']">L'adresse e-mail est requise.</div>
                <div *ngIf="passwordForm.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="currentPassword">Mot de passe actuel:</label>
              <input type="password" formControlName="currentPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)" class="alert alert-danger">
                Le mot de passe actuel est requis.
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">Nouveau mot de passe:</label>
              <input type="password" formControlName="newPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="alert alert-danger">
                Le nouveau mot de passe est requis.
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmer le nouveau mot de passe:</label>
              <input type="password" formControlName="confirmPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
                La confirmation du nouveau mot de passe est requise.
              </div>
              <div *ngIf="passwordForm.get('confirmPassword')?.value !== passwordForm.get('newPassword')?.value && passwordForm.get('confirmPassword')?.dirty" class="alert alert-danger">
                La confirmation du nouveau mot de passe ne correspond pas au nouveau mot de passe.
              </div>
            </div>
            <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Changer le mot de passe</button>
            </div>
          </form>
        </div>
        

      </div>
        
      </div>
    </div>
