<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
     
        <div class="container">
          <h3 style="text-align: center;">Change Your Password</h3>
          <br>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">E-mail Address:</label>
              <input type="email" formControlName="email" class="form-control" required>
              <div *ngIf="passwordForm.get('email')?.invalid && (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)" class="alert alert-danger">
                <div *ngIf="passwordForm.get('email')?.errors?.['required']">L'adresse e-mail est requise.</div>
                <div *ngIf="passwordForm.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="currentPassword">Current Password :</label>
              <input type="password" formControlName="currentPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)" class="alert alert-danger">
                Current password is required.
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password :</label>
              <input type="password" formControlName="newPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="alert alert-danger">
                The new password is required.              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm the new password :</label>
              <input type="password" formControlName="confirmPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
                Confirmation of the new password is required.              </div>
              <div *ngIf="passwordForm.get('confirmPassword')?.value !== passwordForm.get('newPassword')?.value && passwordForm.get('confirmPassword')?.dirty" class="alert alert-danger">
                Confirmation of new password does not match new password.              </div>
            </div>
            <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Change password</button>
            </div>
          </form>
        </div>
        

      </div>
        
      </div>
</div>
