<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <mat-stepper orientation="vertical"  #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Fill out the Full name</ng-template>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput placeholder="Last name" formControlName="nom" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput placeholder="First name" formControlName="prenom" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Fill out the email and password</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="motDePasse" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button type="submit">Submit</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  </form>
