<div class="container" style="margin-top: 90px!important;">
  <br>
  <div class="section-title">
    <h2 style="text-align: center;">Published questionnaires list</h2>
  </div>
  <table class="table" style="width: 70%; margin: 0 auto;">
    <thead>
      <tr style="background-color: #51528f;">
        <th><h5 style="color: #ffffff;">#</h5></th>
        <th><h5 style="color: #ffffff;">Questionnaire title</h5></th>
        <th style="text-align: center;color: #ffffff;"><h5>Answer the questionnaire</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let questionnaire of questionnaires; let i=index">
        <td><h5>{{i+1}}</h5></td>
        <td><h5>{{ questionnaire.title}}</h5></td>
        <td style="text-align: center;">
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/answer', questionnaire._id]"
            [disabled]="isQuestionnaireAnswered(questionnaire)"
          >
            <i class="bi" [ngClass]="{ 'bi-check-square': isQuestionnaireAnswered(questionnaire), 'bi-chat-left-text': !isQuestionnaireAnswered(questionnaire) }"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br> <br>
  <div class="section-title">
    <h2 style="text-align: center;">Answered questionnaires list</h2>
  </div>

  <table class="table" style="width: 70%; margin: 0 auto;">
    <thead>
      <tr style="background-color: #51528f;">
        <th><h5 style="color: #ffffff;">#</h5></th>
        <th><h5 style="color: #ffffff;">Questionnaire title</h5></th>
        <th style="text-align: center;color: #ffffff;"><h5>Show answer</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let questionnaire of answeredQuestionnaires; let i=index">
        <td><h5>{{i+1}}</h5></td>
        <td><h5>{{ questionnaire.title}}</h5></td>
        <td style="text-align: center;">
          <button
            type="button"
            class="btn btn-primary"
            (click)="showAnswers(questionnaire)"
          >
            <i class="bi bi-card-checklist"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <div style="text-align: center; border: 1px solid rgb(99,78,172); padding: 20px; width: 70%;margin: 0 auto;" *ngIf="selectedQuestionnaire">
    <h3 style="border-bottom:1px solid #51528f; padding-bottom: 12px; ">{{ selectedQuestionnaire.title }}</h3>
       <!-- Display the questionnaire details here -->
    <ul style="list-style-type: none; padding-left: 0; ">
      <li *ngFor="let question of selectedQuestionnaire.questions"><br>
        <h5>Question : {{ question.text }}</h5>
        <!-- Display the answers for each question -->
        <ul style="list-style-type: none; padding-left: 0; ">
          <li *ngFor="let answer of selectedQuestionnaire.answers;">            
            <p>Answer : {{ getAnswerText(answer, question._id) }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div> <br>
</div>
