<div class="container" style="margin-top: 90px!important;height: 90vh;">
<br><br>
<h2 style="text-align: center;">Published questionnaires list</h2>
<br> <br>
<table class="table"  style="width: 70%; margin: 0 auto;">
  <thead>
    <tr style="background-color: #51528f;">
      <th><h4 style="color: #ffffff;">#</h4></th>
      <th><h4 style="color: #ffffff;">Questionnaire title</h4></th>
      <th style="text-align: center;color: #ffffff;"><h4>Answer the questionnaire</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let questionnaire of questionnaires; let i=index" >
      <td><h4>{{i+1}}</h4></td>
      <td><h4>{{ questionnaire.title}}</h4></td>
      <td style="text-align: center;"><button  type="button" class="btn btn-primary" [routerLink]="['/answer', questionnaire._id]"><i class="bi bi-chat-left-text"></i></button></td>
    </tr>
  </tbody>
</table>
</div>
<br><br>
