<button
  [routerLink]="['/admin/users/add-psy']"
  class="btn "
  style="margin-bottom: 10px;background-color: #4B49AC;color: white;">Add</button>
<div class="container">

   <h2>Liste des Psy</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let psy of Psychologues">
            <td>{{ psy._id }}</td>
            <td>{{ psy.nom }}</td>
            <td>{{ psy.prenom }}</td>
            <td>{{ psy.email }}</td>
            <td>
              <a [routerLink]="['/admin/users/detail', psy._id]">Détails</a>
              <a [routerLink]="['/edit', psy._id]">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
